Source: feed2imap
Section: net
Priority: optional
Maintainer: Lucas Nussbaum <lucas@lucas-nussbaum.net>
Build-Depends-Indep: debhelper (>= 4), ruby
Standards-Version: 3.6.2.1

Package: feed2imap
Architecture: all
Depends: ruby, ruby1.8, librmail-ruby1.8
Recommends: libopenssl-ruby1.8
Suggests: imap-client, imap-server
Description: feed aggregator (RSS/Atom) which puts items on a IMAP mail server
 Feed2Imap is an RSS/Atom feed aggregator. After Downloading
 feeds (over HTTP or HTTPS), it uploads them to a specified
 folder of an IMAP mail server. The user can then access the
 feeds using a mail reader like Mutt, Evolution, Mozilla
 Thunderbird or even a webmail.
 .
 The main advantage over rss2email is that feed2imap uploads
 emails itself to a specified folder. You don't have to play
 with procmail or your MUA's filtering rules to classify mails.
 .
 Homepage: http://home.gna.org/feed2imap/
