#!/usr/bin/make -f
# debian/rules that uses debhelper.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

build:

clean:
	dh_testdir
	dh_testroot
	dh_clean

binary-indep: build
	dh_testdir
	dh_testroot
	dh_installdirs
	dh_installchangelogs ChangeLog
	dh_installdocs README
	ruby setup.rb config --siteruby=/usr/lib/ruby
	ruby setup.rb install --prefix=`pwd`/debian/feed2imap
	dh_fixperms
	dh_compress
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb


binary-arch: build
# Nothing here, not a binary package

binary: binary-indep binary-arch

.PHONY: build clean binary-indep binary-arch binary
