#!/usr/bin/make -f
# debian/rules that uses debhelper.

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

build:

clean:
	dh_testdir
	dh_testroot
	dh_clean

install: build

binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installdirs
	dh_installchangelogs ChangeLog
	dh_installdocs README
	ruby setup.rb config --prefix=debian/tmp/usr --siteruby=debian/tmp/usr/lib/site_ruby
	ruby setup.rb install
	chmod --recursive a+rX debian/tmp/*
	dh_compress
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb


binary-arch: build install
# Nothing here, not a binary package

binary: binary-indep binary-arch

.PHONY: build clean binary-indep binary-arch binary install
